<div class="hero-unit">
<h1>Friends List</h1>
<% @friends.each do |friend| %>
  <div class="well">
    <%= friend.name %>&emsp;&emsp;&emsp;<%= friend.url %>
    <span class="pull-right">
      <%= link_to 'Edit', edit_friend_path(friend) %> | 
      <%= link_to 'Delete', friend, :confirm => 'Are you sure?', :method => :delete %>
    </span>
  </div>
<% end %>
</div>
