.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1000px;
}

.navbar-fixed-top .brand {
  float: left;
  margin-left: 0;
}

.navbar-search {
  margin-right: 30px;
}

.span7 {
  width: 670px;
}

.span3 {
  width: 270px;
}

.hero-unit {
  min-height: 30px;
  padding: 30px;
  padding-top: 0;
}

.post-head {
  border-bottom: 1px solid #333333;
}

.post-head-span {
  text-align: left;
  margin-left: 0;
}

.post {
  padding-bottom: 10px;
}

.comments {
  border-top: 1px solid #333333;
  padding-bottom: 10px;
  padding-top: 10px;
}

.comment {
  padding: 14px;
  background-color: #F5F5F5;
  box-shadow: 2px 2px 3px #AAAAAA;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;*/
  margin-bottom: 20px;

}

.comment-header {
  border-bottom: 1px solid #EEEEEE;
}

.add-comment {
  padding-top: 10px;
  border-top: 1px solid #333333;
}

.lead {
  padding-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
}

.hero-unit h1 {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 10px;
  padding-top: 10px;
}

textarea {
  max-width: 570px;
}

.row .span3 {
  float: right;
  margin-right: 30px;
}
