<% @posts.each do |post| %>
  <div class="hero-unit">
      <%= link_to post.title, post, html_options = {:class => 'pull-left'} %>
      <span class="pull-right">
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
      </span>
  </div>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
