<div class="hero-unit">
  <h2 style="margin-top: 10px; margin-bottom: 10px;">About Me</h2>
  <p>sezina, 本名何金城，现就读于中山大学软件学院，对Linux，python，ruby，js，web programming，数据挖掘和游戏感兴趣，
    经常在linux下装X，但却弱到爆。</p>
  <p>我的联系方式：</p>
  <ul>
    <li>Gtalk： sezinamd@gmail.com</li>
  </ul>
</div>
